
ul {
    display: flex;
    justify-content: flex-end;
}
li {
    margin: 20px;
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}
.button {
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    color: white;
    background-color: #183153;
    border: 1px solid #eee;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover {
    background-image: linear-gradient(90deg,
            #B799FF 0%,
            #ACBCFF 50%,
            #AEE2FF 75%,
            #E6FFFD 100%);
    color: black;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    100% {
        background-position: 50rem;
    }
}